.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex: 1 1 150px;
    /*streaching*/
    flex: 0 1 150px;
    /* no streaching*/
    margin: 5px;
    background-color: greenyellow;
}