@media only screen and (min-width: 38rem) {
    #container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: gainsboro;
        margin: 15px;
        row-gap: 0.7px;
    }

    #container div {
        margin-left: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #ace;
        border-radius: 1%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* <-- Box shadow added */
        transition: transform 0.3s, box-shadow 0.3s;
    }

    #container div:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        /* Stronger shadow on hover */
    }

    #container p,
    a {
        text-align: center;
        padding: 10px;

    }

    #container img,
    #container a {
        margin-left: 250px;
        font-size: 20px;
        text-decoration: none;
        margin-top: 10px;

    }



    .menu {
        display: grid;
        grid-template-columns: auto auto;
        margin: 1rem auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #ace;
        text-align: center;
        gap: 15px;
        width: 800px;

    }

    .menu button {
        padding: 1rem;
        font-weight: 700;

    }



    button.active {
        background-color: #DE3771;
        color: white;
        border: none;
        padding: 0.5em 1em;
        border-radius: 5px;
    }

    .list section:nth-child(even) {
        background-color: blanchedalmond;
    }


    /* this is to style the list view in our dom */


    #container.list {
        display: flex;
        flex-direction: column;
        background-color: gainsboro;
        margin: 15px;
        row-gap: 0.7px;
        width: 600px;
        justify-items: center;
        margin-left: 400px;
    }

    #container.list .member-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ace;
        margin: 15px 50px;
        border-radius: 1%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    #container .member-card img,
    #container .member-card a {
        margin-right: 250px;
    }
}